/**
 * Font size map
 */
$settings-typography: (
    'a5': (
        $breakpoint-sm: 35px,
        $breakpoint-xl: 60px,
    ),
    'a4': (
        $breakpoint-sm: 20px,
        $breakpoint-xl: 40px,
    ),
    'a3': (
        $breakpoint-sm: 20px,
        $breakpoint-xl: 30px,
    ),
    'a2': (
        $breakpoint-sm: 20px,
        $breakpoint-xl: 25px,
    ),
    'a1': (
        $breakpoint-sm: 16px,
        $breakpoint-xl: 18px,
    ),
    'b0': (
        $breakpoint-sm: 16px,
        $breakpoint-xl: 16px,
    ),
    'b1': (
        $breakpoint-sm: 12px,
        $breakpoint-xl: 14px,
    ),
    'b2': (
        $breakpoint-sm: 12px,
        $breakpoint-xl: 12px,
    ),
);

/**
 * Typography mixins
 * usage:
 * @include a5;
 */
@mixin a5 {
    & {
        font-size: var(--a5);
        font-family: var(--font-main);
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0.02em;
    }
}

@mixin a4 {
    & {
        font-size: var(--a4);
        font-family: var(--font-main);
        font-weight: 400;
        line-height: 130%;
        letter-spacing: normal;
    }
}

@mixin a3 {
    & {
        font-size: var(--a3);
        font-family: var(--font-main);
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.02em;
    }
}

@mixin a2 {
    & {
        font-size: var(--a2);
        font-family: var(--font-main);
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -0.01em;
    }
}

@mixin a1 {
    & {
        font-size: var(--a1);
        font-family: var(--font-main);
        font-weight: 700;
        line-height: 150%;
        letter-spacing: -0.01em;
    }
}

@mixin b0 {
    & {
        font-size: var(--b0);
        font-family: var(--font-main);
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.01em;
    }
}

@mixin b1 {
    & {
        font-size: var(--b1);
        font-family: var(--font-main);
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.01em;
    }
}

@mixin b2 {
    & {
        font-size: var(--b2);
        font-family: var(--font-main);
        font-weight: 500;
        line-height: 125%;
        letter-spacing: normal;
    }
}
