.flatMap {
    background-color: #ccc;
    cursor: grab;
    padding-top: 10vh;
    padding-bottom: 10vh;

    &:active {
        cursor: grabbing;
    }

    & > div {
        width: 100%;
        height: 80vh;
    }
}

.spacer {
    height: 100vh;
    background-color: #ccc;
    color: $black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}

.button {
    @include button-reset;

    cursor: pointer;
    padding: 10px 20px;
    background-color: $black;
}
