.main {
    position: relative;
}

.markers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.marker {
    opacity: 0;
    transition: opacity 0.2s;

    &:global(.is-loaded) {
        transition: opacity 0.4s;
        opacity: 1;
    }

    &:global(.is-hidden) {
        transition: opacity 0.2s;
        opacity: 0;
        pointer-events: none;
    }
}
