.main {
    position: relative;
    height: 0;
    padding-top: 56.25%;
    z-index: 1;
    touch-action: none;

    @include mq(md) {
        padding-top: 100%;
    }
}

.canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    div,
    canvas {
    }

    canvas {
        pointer-events: none !important;
    }
}

.markers {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.marker {
    border: none;
    margin: 0;
    padding: 0;
    outline: 0;
    border-radius: 0;
    box-shadow: none;
    cursor: pointer;
    color: inherit;
    width: 24px;
    height: 24px;
    background: transparent;
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: all;
    touch-action: auto;

    &.isLoaded {
        transition: opacity 0.4s;
        opacity: 1;
    }

    &:global(.is-hidden) {
        transition: opacity 0.2s;
        opacity: 0;
    }

    &.isActive {
        z-index: 100 !important;
    }
}
