.threeDMap {
    background-color: #ccc;
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

.spacer {
    height: 100vh;
    background-color: #ccc;
    color: $black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
}
