.o-page {
    color: var(--tertiary-color);
    overflow: hidden;

    section {
        opacity: 0;
        transition: opacity 0.25s;
    }

    &--show {
        section {
            opacity: 1;
        }
    }
}
