.o-page {
    //background-color: #2d2c2c;
    background-color: #F3F2F0;
    //color: var(--tertiary-color);
    color: #2d2c2c;
    padding-top: var(--navigation-height);
    min-height: 100vh;

    header,
    section,
    footer {
        opacity: 0;
        transition: opacity 0.25s;
    }

    &--show {
        header,
        section,
        footer {
            opacity: 1;
        }
    }
}
