.stats {
    padding: var(--s-40);
    @include cssGrid();
    column-gap: var(--s-40);

    &ColBig {
        grid-column: span 4;
    }
    &ColNormal {
        grid-column: span 8;
        @include cssGrid(8);
        column-gap: var(--s-40);
    }
}

.row {
    border-top: 1px solid rgba($white, 0.1);
    padding: var(--s-5) 0 var(--s-15);
    grid-column: span 4;
    display: flex;
    justify-content: space-between;

    & > span {
        opacity: 0.5;
    }
}
